@page "/user/delete/{userId:int}"
@using MauiApp1.Data
@inject NavigationManager NavigationManager

<h2>Delete User</h2>
<br />

<div class="form-group">
    <h4>Do you want to delete this user?</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Name</td>
                <td>@user.Username</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>@user.Address</td>
            </tr>
            <tr>
                <td>Cell No</td>
                <td>@user.Cellnumber</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>@user.Emailid</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <input type="submit" value="Delete" @onclick="(async () => await RemoveUser(user.Userid))" class="btn btn-danger" />
    <input type="submit" value="Cancel" @onclick="(() => Cancel())" class="btn btn-warning" />
</div>

@code {
    [Parameter]
    public int userId { get; set; }
    User user = new User();

    protected override async Task OnInitializedAsync()
    {
        await using var context = new DemoDBContext();
        user = context.Users.Find(userId);
    }

    protected async Task RemoveUser(int userID)
    {
        await using var context = new DemoDBContext();
        context.Users.Remove(user);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/fetchuserdetails");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/fetchuserdetails");
    }
}
