@page "/noteitem"
@using MauiApp1.Data
<h3>Add Note</h3>
<button class="btn btn-primary" @onclick="AddNote">Add Note</button>

@code {
    private static void AddNote()
    {
        using var context = new DemoDBContext();
        var note = new Note
        {
            Title = "Title1",
            Message = "Message1"
        };

        context.Notes.Add(note);
        context.SaveChangesAsync();
    }
    
    //https://learn.microsoft.com/en-us/ef/core/get-started/xamarin
    //https://github.com/dotnet-presentations/dotnet-maui-workshop
}
