@page "/noteadd"
@using MauiApp1.Data
@inject NavigationManager NavigationManager

<h3>NoteAdd</h3>

<EditForm Model="@note" OnValidSubmit="@AddNote">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Title:
            <InputText id="title" @bind-Value="note.Title" />
        </label>
    </p>
    <p>
        <label>
            Message:
            <InputText id="Message" @bind-Value="note.Message" />
        </label>
    </p>
    <button type="submit">Submit</button>
</EditForm>

@code {

    private Note note = new();

    private void AddNote()
    {
        using var context = new DemoDBContext();
        context.Add(note);
        context.SaveChangesAsync();
        NavigationManager.NavigateTo("/notelist");
    }
    
    //https://learn.microsoft.com/en-us/ef/core/get-started/xamarin
    //https://www.c-sharpcorner.com/article/crud-operations-using-blazor-net-6-0-entity-framework-core/
}
